:root{
    --cor-de-fundo:#747373;
    --preto:#000000;
--branco:#e5e5e5;
--botao-ativo:#935b5b;
--botao-inativo:#4d3939;
--texto-fundo:#641414;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--preto);
font-family: 'Times New Roman', Times, serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
    
}