:root{
    --cor-de-fundo:#747373;
    --preto:#000000;
--branco:#000000;
--botao-ativo:#3b3b3b;
--botao-inativo:#fa30b7bb;
--texto-fundo:#641414;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--preto);
font-family: 'Times New Roman', Times, serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;

}
.botao{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1 em;
    font-size: 15px;
    align-items: center;
    width:100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;

}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--branco);
}
@media screen and (min-width:768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
} {
    
}{
    
}